header {
	@media (min-width: 751px) {
		height: 800px;
	}
	@media (max-width: 750px) {
		height: 450px;
	}
	& > .content {
		@media (min-width: 751px) {
			height: 700px;
		}
		@media (max-width: 750px) {
			height: 350px;
		}
		display: flex;
		flex-direction: column;
		justify-content: center;
		& > .header-content {
			margin: auto;
			@media (min-width: 751px) {
				width: 750px;
				& > * {
					display: inline-block;
					float: left;
				}
				& > .header-content-names {
					margin-left: 30px;
					height: 145px;
					& > h1 {
						font-size: 80px;
						margin: 0;
					}
					& > .names-logo {
						height: 30px;
						width: 200px;
					}
				}
				& > .header-content-photo {
					height: 145px;
					width: 145px;
					background: url("../images/photo_pawel.jpg") center;
					background-size: contain;
					border-radius: 80px;
				}
				& > .header-content-info {
					bottom: -200px;
				}
			}
			@media (max-width: 750px) {
				& > * {
					margin: auto;
					display: block;
					text-align: center;
				}
				& > .header-content-names {
					margin-left: 0;
					height: 90px;
					& > h1 {
						font-size: 50px;
						margin: 0;
					}
					& > .names-logo {
						height: 20px;
						width: 100%;
					}
				}
				& > .header-content-photo {
					height: 90px;
					width: 90px;
					background: url("../images/photo_pawel.jpg") center;
					background-size: contain;
					border-radius: 45px;
				}
				& > .header-content-info {
					bottom: -20px;
				}
			}
			& > .header-content-names {
				& > h1 {
					font-weight: lighter;
				}
				& > .names-logo {
					background: url("../images/logo_henouser.png") left center no-repeat;
					background-size: contain;
				}
			}
			& > .header-content-info {
				position: relative;
				display: block;
				font-size: 28px;
				& > p {
					color: $blue_light;
					& > small {
						color: $yellow;
						font-family: "IndieFlower", sans-serif;
					}
				}
				@media (min-width: 1150px) {
					right: -620px;
				}
				@media (max-width: 1150px) and (min-width: 901px) {
					right: -500px;
				}
				@media (max-width: 900px) and (min-width: 700px) {
					right: -200px;
				}
				@media (max-width: 700px) {
					margin: auto;
				}
			}
		}
	}
}