@media (min-width: 751px) {
  header {
    height: 800px;
  }
}
@media (max-width: 750px) {
  header {
    height: 450px;
  }
}
header > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 751px) {
  header > .content {
    height: 700px;
  }
}
@media (max-width: 750px) {
  header > .content {
    height: 350px;
  }
}
header > .content > .header-content {
  margin: auto;
}
@media (min-width: 751px) {
  header > .content > .header-content {
    width: 750px;
  }
  header > .content > .header-content > * {
    display: inline-block;
    float: left;
  }
  header > .content > .header-content > .header-content-names {
    margin-left: 30px;
    height: 145px;
  }
  header > .content > .header-content > .header-content-names > h1 {
    font-size: 80px;
    margin: 0;
  }
  header > .content > .header-content > .header-content-names > .names-logo {
    height: 30px;
    width: 200px;
  }
  header > .content > .header-content > .header-content-photo {
    height: 145px;
    width: 145px;
    background: url("../images/photo_pawel.jpg") center;
    background-size: contain;
    border-radius: 80px;
  }
  header > .content > .header-content > .header-content-info {
    bottom: -200px;
  }
}
@media (max-width: 750px) {
  header > .content > .header-content > * {
    margin: auto;
    display: block;
    text-align: center;
  }
  header > .content > .header-content > .header-content-names {
    margin-left: 0;
    height: 90px;
  }
  header > .content > .header-content > .header-content-names > h1 {
    font-size: 50px;
    margin: 0;
  }
  header > .content > .header-content > .header-content-names > .names-logo {
    height: 20px;
    width: 100%;
  }
  header > .content > .header-content > .header-content-photo {
    height: 90px;
    width: 90px;
    background: url("../images/photo_pawel.jpg") center;
    background-size: contain;
    border-radius: 45px;
  }
  header > .content > .header-content > .header-content-info {
    bottom: -20px;
  }
}
header > .content > .header-content > .header-content-names > h1 {
  font-weight: lighter;
}
header > .content > .header-content > .header-content-names > .names-logo {
  background: url("../images/logo_henouser.png") left center no-repeat;
  background-size: contain;
}
header > .content > .header-content > .header-content-info {
  position: relative;
  display: block;
  font-size: 28px;
}
header > .content > .header-content > .header-content-info > p {
  color: #5989B6;
}
header > .content > .header-content > .header-content-info > p > small {
  color: #CDDC39;
  font-family: "IndieFlower", sans-serif;
}
@media (min-width: 1150px) {
  header > .content > .header-content > .header-content-info {
    right: -620px;
  }
}
@media (max-width: 1150px) and (min-width: 901px) {
  header > .content > .header-content > .header-content-info {
    right: -500px;
  }
}
@media (max-width: 900px) and (min-width: 700px) {
  header > .content > .header-content > .header-content-info {
    right: -200px;
  }
}
@media (max-width: 700px) {
  header > .content > .header-content > .header-content-info {
    margin: auto;
  }
}

.about {
  width: 102%;
  background-color: #fafafa;
  transform: rotate(6deg) skewX(6deg);
  overflow: hidden;
  margin: 0 0 0 -1%;
}
.about > * {
  transform: rotate(-6deg) skewX(-6deg);
}
.about > .content {
  color: #3c3c3c;
}
@media (min-width: 751px) {
  .about > .content {
    height: 700px;
  }
  .about > .content > .about-header {
    margin-top: 200px;
  }
}
@media (max-width: 750px) {
  .about > .content {
    height: 450px;
  }
  .about > .content > .about-header {
    margin-top: 90px;
  }
  .about > .content > .about-desc {
    text-align: justify;
  }
}
@media (min-width: 901px) {
  .about > .content > .about-image, .about > .content .about-hex {
    display: block;
  }
  .about > .content > .about-desc {
    width: 600px;
  }
}
@media (max-width: 900px) {
  .about > .content > .about-image, .about > .content .about-hex {
    display: none;
  }
  .about > .content > .about-desc {
    width: 100%;
  }
}
.about > .content > .about-header {
  display: inline-block;
}
.about > .content > .about-desc {
  font-size: 18px;
}
.about > .content > .about-image, .about > .content .about-hex {
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0;
  top: 250px;
}
.about > .content > .about-image {
  animation-name: about-images;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 99;
}
.about > .content > .about-image > .about-image-switch {
  height: 100%;
  width: 100px;
  margin: auto;
  background: center no-repeat;
  background-size: contain;
  animation-iteration-count: infinite;
  animation-name: about-images-switch;
  animation-duration: 40s;
}
.about > .content > .about-hex {
  z-index: 50;
}

@keyframes about-images {
  0% {
    clip-path: polygon(150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px);
    -webkit-clip-path: polygon(150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px);
  }
  25% {
    clip-path: polygon(150px 70px, 220px 110px, 220px 190px, 150px 230px, 80px 190px, 80px 110px, 150px 70px);
    -webkit-clip-path: polygon(150px 70px, 220px 110px, 220px 190px, 150px 230px, 80px 190px, 80px 110px, 150px 70px);
  }
  75% {
    clip-path: polygon(150px 70px, 220px 110px, 220px 190px, 150px 230px, 80px 190px, 80px 110px, 150px 70px);
    -webkit-clip-path: polygon(150px 70px, 220px 110px, 220px 190px, 150px 230px, 80px 190px, 80px 110px, 150px 70px);
  }
  100% {
    clip-path: polygon(150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px);
    -webkit-clip-path: polygon(150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px, 150px 150px);
  }
}
@keyframes about-images-switch {
  0% {
    background-image: url("../images/grunt_logo.png");
  }
  0.1% {
    background-image: url("../images/grunt_logo.png");
  }
  12.4% {
    background-image: url("../images/grunt_logo.png");
  }
  12.5% {
    background-image: url("../images/sass_logo.png");
  }
  24.9% {
    background-image: url("../images/sass_logo.png");
  }
  25% {
    background-image: url("../images/angular_logo.png");
  }
  37.4% {
    background-image: url("../images/angular_logo.png");
  }
  37.5% {
    background-image: url("../images/mongodb_logo.png");
  }
  49.9% {
    background-image: url("../images/mongodb_logo.png");
  }
  50% {
    background-image: url("../images/nodejs_logo.png");
  }
  62.4% {
    background-image: url("../images/nodejs_logo.png");
  }
  62.5% {
    background-image: url("../images/bower_logo.png");
  }
  74.9% {
    background-image: url("../images/bower_logo.png");
  }
  75% {
    background-image: url("../images/github_logo.png");
  }
  87.4% {
    background-image: url("../images/github_logo.png");
  }
  87.5% {
    background-image: url("../images/linux_logo.png");
  }
  100% {
    background-image: url("../images/linux_logo.png");
  }
}
#p_1 {
  animation-name: p1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  margin: 150px 0 0 150px;
  position: absolute;
  top: 0;
  z-index: 20;
}

@keyframes p1 {
  0% {
    transform: translate(150px, 150px) scale(0);
  }
  1% {
    transform: translate(150px, 150px) scale(0);
  }
  25% {
    transform: translate(0, 0) scale(1);
  }
  75% {
    transform: translate(0, 0) scale(1);
  }
  99% {
    transform: translate(150px, 150px) scale(0);
  }
  100% {
    transform: translate(150px, 150px) scale(0);
  }
}
.l_1 {
  animation-name: l1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l1 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(70px, 40px);
  }
  75% {
    transform: translate(70px, 40px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.l_2 {
  animation-name: l2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l2 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 80px);
  }
  75% {
    transform: translate(0, 80px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.l_3 {
  animation-name: l3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l3 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(-70px, 40px);
  }
  75% {
    transform: translate(-70px, 40px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.l_4 {
  animation-name: l4;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l4 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(-70px, -40px);
  }
  75% {
    transform: translate(-70px, -40px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.l_5 {
  animation-name: l5;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l5 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, -80px);
  }
  75% {
    transform: translate(0, -80px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.l_6 {
  animation-name: l6;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes l6 {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(0);
  }
  25% {
    transform: translate(70px, -40px);
  }
  75% {
    transform: translate(70px, -40px);
  }
  99% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.portfolio {
  overflow: hidden;
}
@media (min-width: 1150px) {
  .portfolio {
    height: 800px;
  }
  .portfolio > .content {
    margin-top: -900px;
    height: 550px;
  }
}
@media (max-width: 1150px) and (min-width: 901px) {
  .portfolio {
    height: 700px;
  }
  .portfolio > .content {
    margin-top: -800px;
    height: 550px;
  }
}
@media (max-width: 900px) and (min-width: 701px) {
  .portfolio {
    height: 600px;
  }
  .portfolio > .content {
    margin-top: -750px;
    height: 550px;
  }
}
@media (max-width: 700px) {
  .portfolio {
    height: 500px;
  }
  .portfolio > .content {
    margin-top: -700px;
    height: 550px;
  }
}
.portfolio > .portfolio-background {
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  opacity: 0.8;
}
@media (min-width: 1501px) {
  .portfolio > .portfolio-background {
    height: 1100px;
    margin-top: -150px;
  }
}
@media (max-width: 1500px) and (min-width: 1151px) {
  .portfolio > .portfolio-background {
    height: 1000px;
    margin-top: -100px;
  }
}
@media (max-width: 1150px) and (min-width: 701px) {
  .portfolio > .portfolio-background {
    height: 850px;
    margin-top: -75px;
  }
}
@media (max-width: 900px) and (min-width: 701px) {
  .portfolio > .portfolio-background {
    height: 700px;
    margin-top: -50px;
  }
}
@media (max-width: 700px) {
  .portfolio > .portfolio-background {
    height: 600px;
    margin-top: -50px;
  }
}
.portfolio > .content {
  text-shadow: 1px 1px #3c3c3c;
  display: block;
  padding-top: 250px;
}
.portfolio > .content > h1 {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 46px;
  text-align: center;
  font-weight: lighter;
}
.portfolio > .content > .portfolio-description {
  text-align: center;
  font-size: 24px;
  max-width: 500px;
  margin: auto;
}
.portfolio > .content > .portfolio-links {
  height: 100px;
}
.portfolio > .content > .portfolio-technologies {
  list-style: none;
  padding: 0;
  width: 300px;
  height: 150px;
  float: right;
}
.portfolio > .content > .portfolio-technologies > li {
  margin: 3px;
  display: inline-block;
}

.bogajphotography {
  width: 102%;
  background-color: #3c3c3c;
  transform: rotate(6deg) skewX(6deg);
  overflow: hidden;
  margin: 0 0 0 -1%;
}
.bogajphotography > * {
  transform: rotate(-6deg) skewX(-6deg);
}
.bogajphotography > .portfolio-background {
  background-image: url("../images/bogajphotography.png");
}

.downloader_html5 {
  width: 102%;
  background-color: #3c3c3c;
  transform: rotate(6deg) skewX(6deg);
  overflow: hidden;
  margin: 0 0 0 -1%;
}
.downloader_html5 > * {
  transform: rotate(-6deg) skewX(-6deg);
}
.downloader_html5 > .portfolio-background {
  background-image: url("../images/downloader.png");
}

footer {
  background-color: #fafafa;
  margin-top: -200px;
}
footer > .content {
  height: 600px;
}
footer > .content > .footer-info {
  height: 250px;
  border-bottom: 1px solid #c2ccd1;
  padding-top: 250px;
  box-sizing: content-box;
  color: #3c3c3c;
  font-size: 14px;
}
@media (min-width: 601px) {
  footer > .content > .footer-info {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  footer > .content > .footer-info {
    font-size: 12px;
  }
}
footer > .content > .footer-info > ul {
  display: inline-block;
  float: left;
  list-style: none;
  width: 48%;
  margin: 1%;
  padding: 60px 0 0 0;
}
footer > .content > .footer-info > ul > h5 {
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}
footer > .content > .footer-rights {
  margin: 10px;
}
@media (min-width: 601px) {
  footer > .content > .footer-rights {
    height: 60px;
  }
  footer > .content > .footer-rights > .rights-logotype {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 600px) {
  footer > .content > .footer-rights {
    height: 40px;
  }
  footer > .content > .footer-rights > .rights-logotype {
    height: 35px;
    width: 35px;
  }
}
footer > .content > .footer-rights > .rights-logotype {
  float: left;
  background: url("../images/logotype_dark.png") left center no-repeat;
  background-size: contain;
  display: inline-block;
}
footer > .content > .footer-rights > .rights-introduce {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 0 0 10px;
}
@media (min-width: 601px) {
  footer > .content > .footer-rights > .rights-introduce {
    height: 60px;
  }
  footer > .content > .footer-rights > .rights-introduce > li:nth-of-type(1) {
    font-size: 30px;
    color: #3c3c3c;
  }
  footer > .content > .footer-rights > .rights-introduce > li:nth-of-type(2) {
    font-size: 14px;
    color: #7c7c7c;
  }
}
@media (max-width: 600px) {
  footer > .content > .footer-rights > .rights-introduce {
    height: 40px;
  }
  footer > .content > .footer-rights > .rights-introduce > li:nth-of-type(1) {
    font-size: 20px;
    color: #3c3c3c;
  }
  footer > .content > .footer-rights > .rights-introduce > li:nth-of-type(2) {
    font-size: 8px;
    color: #7c7c7c;
  }
}
footer > .content > .footer-rights > .rights-contact {
  float: right;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
footer > .content > .footer-rights > .rights-contact > li {
  display: inline-block;
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #3c3c3c;
}
@media (min-width: 601px) {
  footer > .content > .footer-rights > .rights-contact > li {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
}
@media (max-width: 600px) {
  footer > .content > .footer-rights > .rights-contact > li {
    height: 30px;
    width: 30px;
    border-radius: 15px;
  }
}
footer > .content > .footer-rights > .rights-contact > li > a {
  background: center no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}
footer > .content > .footer-rights > .rights-contact > li.facebook-icon > a {
  background-image: url("../images/facebook.png");
  background-size: auto 65%;
}
footer > .content > .footer-rights > .rights-contact > li.github-icon > a {
  background-image: url("../images/github.png");
  background-size: auto 85%;
}

@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Book.ttf);
}
@font-face {
  font-family: "IndieFlower";
  src: url(../fonts/IndieFlower.ttf);
}
html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Dosis", sans-serif;
  color: #fafafa;
  background: url("../images/texture.png");
  position: absolute;
  width: 100%;
}
body > * {
  width: 100%;
}
body > * > .content {
  margin: auto;
}
@media (min-width: 1150px) {
  body > * > .content {
    width: 1150px;
  }
}
@media (max-width: 1150px) and (min-width: 901px) {
  body > * > .content {
    width: 900px;
  }
}
@media (max-width: 900px) and (min-width: 701px) {
  body > * > .content {
    width: 700px;
  }
}
@media (max-width: 700px) {
  body > * > .content {
    width: 94%;
    margin: auto 3% auto 3%;
  }
}

nav {
  position: fixed;
  top: 50%;
  left: 0;
  margin: -150px 0 0 10px;
  height: 300px;
  width: 100px;
  display: none;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
}
nav > a {
  color: #fafafa;
  width: 100%;
  float: left;
  display: block;
  height: 16px;
  font-size: 16px;
  margin: 4px;
  text-decoration: none;
  transition: 0.3s;
}
nav > a:hover {
  font-size: 20px;
  height: 20px;
  text-decoration: underline;
  transition: 0.3s;
}

/*# sourceMappingURL=index.css.map */
