@mixin downhill($color) {
	width: 102%;
	background-color: $color;
	transform: rotate(6deg) skewX(6deg);
	overflow: hidden;
	margin: 0 0 0 -1%;
	& > * {
		transform: rotate(-6deg) skewX(-6deg);
	}
}

@mixin portfolio {
	@media (min-width: 1150px) {
		height: 800px;
		& > .content {
			margin-top: -900px;
			height: 550px;
		}
	}
	@media (max-width: 1150px) and (min-width: 901px) {
		height: 700px;
		& > .content {
			margin-top: -800px;
			height: 550px;
		}
	}
	@media (max-width: 900px) and (min-width: 701px) {
		height: 600px;
		& > .content {
			margin-top: -750px;
			height: 550px;
		}
	}
	@media (max-width: 700px) {
		& > .content {
			margin-top: -700px;
			height: 550px;
		}
		height: 500px;
	}
	overflow: hidden;
	& > .portfolio-background {
		@media (min-width: 1501px) {
			height: 1100px;
			margin-top: -150px;
		}
		@media (max-width: 1500px) and (min-width: 1151px) {
			height: 1000px;
			margin-top: -100px;
		}
		@media (max-width: 1150px) and (min-width: 701px) {
			height: 850px;
			margin-top: -75px;
		}
		@media (max-width: 900px) and (min-width: 701px) {
			height: 700px;
			margin-top: -50px;
		}
		@media (max-width: 700px) {
			height: 600px;
			margin-top: -50px;
		}
		background-size: cover;
		background-position: center;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		-o-filter: blur(5px);
		opacity: 0.8;
	}
}

@mixin hex-path($name) {
	animation-name: $name;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@mixin hex-path-keyframes($x, $y) {
	0% {
		transform: translate(0);
	}
	1% {
		 transform: translate(0);
	 }
	25% {
		transform: translate($x, $y);
	}
	75% {
		transform: translate($x, $y);
	}
	99% {
		transform: translate(0);
	}
	100% {
		transform: translate(0);
	}
}
